.calendarModule{
    height: 25rem;
    background-color: #1a356b;
    background-image: url("/DesktopModules/MVC/CalendarModule/images/calendarBackground_Arriba.png");
    background-repeat: round;
    overflow-y:auto;
    color: #fff;
    background-size: cover;

    .calendarCol-3{
        padding-right: 6px;
    }

    .calendarCard{
        border-radius: 0rem;        
        
        .calendarCard-header{
            background-color: rgba(0,0,0,0);
            border-bottom: 0rem;
            margin: .5rem 0rem 0rem 0.75rem;
            padding: 0rem;
        }

        .calendarCard-Block{
            margin: .5rem .5rem .5rem .8rem;
        }

        .calendarH1{
            font-weight: 900;
            text-align: left;
            font-style: normal;
            line-height: 1;
            margin: 0 0 0rem 0;
        }
    }    

    .card-box1, .card-box6{
        background-color: #fff;
    }

    .card-box2, .card-box4{
        background-color: #fff;
    }

    .card-box3, .card-box5{
        background-color: #fff;
    }
}

@include media-breakpoint-up(md) {
    .calendarModule{
        background-image: url("/DesktopModules/MVC/CalendarModule/images/calendarBackground.jpg");
    }
}

@include media-breakpoint-up(lg) {
    .calendarModule{
        background-size: cover;
        background-image: url("/DesktopModules/MVC/CalendarModule/images/calendarBackground.jpg");
    }
}