@font-face {
    font-family: 'minjusticia_icon';
    src: url('../fonts/fonts_mixed_minjusticia_fontello.eot?11307772');
    src: url('../fonts/fonts_mixed_minjusticia_fontello.eot?11307772#iefix') format('embedded-opentype'),
         url('../fonts/fonts_mixed_minjusticia_fontello.woff2?11307772') format('woff2'),
         url('../fonts/fonts_mixed_minjusticia_fontello.woff?11307772') format('woff'),
         url('../fonts/fonts_mixed_minjusticia_fontello.ttf?11307772') format('truetype'),
         url('../fonts/fonts_mixed_minjusticia_fontello.svg?11307772#fonts_mixed_minjusticia_fontello') format('svg');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.eot');
    src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular.woff') format('woff'),
        url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.eot');
    src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/OpenSans-Bold.woff') format('woff'),
        url('../fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-ExtraBold.eot');
    src: url('../fonts/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-ExtraBold.woff2') format('woff2'),
        url('../fonts/OpenSans-ExtraBold.woff') format('woff'),
        url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Light.eot');
    src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Light.woff2') format('woff2'),
        url('../fonts/OpenSans-Light.woff') format('woff'),
        url('../fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-SemiBold.eot');
    src: url('../fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
        url('../fonts/OpenSans-SemiBold.woff') format('woff'),
        url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
}

/* work-sans-300 - latin */
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/work-sans-v5-latin-300.eot'); /* IE9 Compat Modes */
    src: local('Work Sans Light'), local('WorkSans-Light'),
         url('../fonts/work-sans-v5-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/work-sans-v5-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/work-sans-v5-latin-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/work-sans-v5-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/work-sans-v5-latin-300.svg#WorkSans') format('svg'); /* Legacy iOS */
  }
  
  /* work-sans-regular - latin */
  @font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/work-sans-v5-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Work Sans'), local('WorkSans-Regular'),
         url('../fonts/work-sans-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/work-sans-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/work-sans-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/work-sans-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/work-sans-v5-latin-regular.svg#WorkSans') format('svg'); /* Legacy iOS */
  }
  
  /* work-sans-600 - latin */
  @font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/work-sans-v5-latin-600.eot'); /* IE9 Compat Modes */
    src: local('Work Sans SemiBold'), local('WorkSans-SemiBold'),
         url('../fonts/work-sans-v5-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/work-sans-v5-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/work-sans-v5-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/work-sans-v5-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/work-sans-v5-latin-600.svg#WorkSans') format('svg'); /* Legacy iOS */
  }
  
  /* work-sans-700 - latin */
  @font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/work-sans-v5-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Work Sans Bold'), local('WorkSans-Bold'),
         url('../fonts/work-sans-v5-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/work-sans-v5-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/work-sans-v5-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/work-sans-v5-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/work-sans-v5-latin-700.svg#WorkSans') format('svg'); /* Legacy iOS */
  }
  
  /* work-sans-800 - latin */
  @font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/work-sans-v5-latin-800.eot'); /* IE9 Compat Modes */
    src: local('Work Sans ExtraBold'), local('WorkSans-ExtraBold'),
         url('../fonts/work-sans-v5-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/work-sans-v5-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/work-sans-v5-latin-800.woff') format('woff'), /* Modern Browsers */
         url('../fonts/work-sans-v5-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/work-sans-v5-latin-800.svg#WorkSans') format('svg'); /* Legacy iOS */
  }
