@import 'autoload/autoload';
@import 'variables/variables';
@import 'mixins/mixins';
@import 'base';
@import 'components/components';
@import 'pages/pages';
@import 'sections/sections';

.SliderText {
    font-size: 1rem;
  }

  .NormalText{
    font-size: .7rem;
    line-height: 1.2rem;
    color:#333333;
  }

  .HeaderText{
    font-size: 2.4rem;
    color:#ffab00;
  }

  .calendarYearText{
    font-size: 8rem;
    font-family: $open-sans;
    font-weight: 900;
  }

  .calendarMonth{
    max-height: .2rem;        
    font-weight: 700;
    font-size: 3.3rem;
    margin-top: 0rem;
  }
  
  @include media-breakpoint-up(sm) {
    .SliderText {
      font-size: 1rem;
      line-height: 1rem;
    }

    .HeaderText{
      font-size: 2.4rem;
    }

    .calendarCard{
      min-height: 7rem;
    }

    .calendarYearText{
      font-size: 6rem;
    }

    .calendarMonth{
      font-size: 3.3rem;
      margin-top: 0rem;
    }
  }
  
  @include media-breakpoint-up(md) {
    .SliderText {
      font-size: 1.3rem;
      line-height: 1.5rem;
    }

    .HeaderText{
      font-size: 2.6rem;
    }

    .calendarCard{
      min-height: 10rem;
    }

    .calendarYearText{
      font-size: 6.4rem;
    }

    .calendarMonth{
      font-size: 2.3rem;
      margin-top: 3rem;
    }
  }
  
  @include media-breakpoint-up(lg) {
    .SliderText {
      font-size: 1.4rem;
      line-height: 1.6rem;
    }

    .NormalText{
      font-size: .8rem;
    }

    .HeaderText{
      font-size: 2.8rem;
    }

    .calendarCard{
      min-height: 11rem;
    }

    .calendarYearText{
      font-size: 8rem;
    }

    .calendarMonth{
      font-size: 2.9rem;
      margin-top: 4rem;
    }
  }

  @include media-breakpoint-up(xl) {
    .SliderText {
      font-size: 1.8rem;
      line-height: 2rem;
    }
    
    .NormalText{
      font-size: 0.9rem;      
    }

    .HeaderText{
      font-size: 3rem;
    }

    .calendarCard{
      min-height: 11rem;
    }

    .calendarYearText{
      font-size: 9.8rem;
      // @include font-size(80);
    }

    .calendarMonth{
      font-size: 3.5rem;
      margin-top: 4rem;
    }
  }
