// Colors
$light-grey: #e6e6e6 !default;
$grey:#7d7d7d !default;
$dark-grey: #333333 !default;

$primary-color: rgb(236, 61, 70) !default;
$secondary-color: rgb(0, 165, 225) !default;
$tertiary-color:#345bc6!default;

$border-color: #bbb !default;
$link-color: $primary-color !default;
$font-color: #fff !default;